/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: grey;
}

li{
  list-style: none;
}

body{
  font-size: 12px;
}

h1,
h2,
h3{
  text-align: center;
}

/* regole header */
.navbar{
  border: none;
}

.navbar-brand{
  height: auto;
}

.navbar-toggle{
  margin-top: 40px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a{
  color:white;
  font-size: 2rem;
  line-height: 80px;
}

.navbar-default .navbar-brand{
  font-size: 4rem;
  font-weight: 600;
  line-height: 80px;
}

.navbar-default{
  background-color: #2c3e50;
}

.ms-jumbotron{
  min-height: 700px;
  background-color: lightgreen;
  padding-top: 50px;
  color: #ffff;
  text-align: center;
}
.jumbo{
  margin-top: 150px;
  text-align: center;
}

.jumbo img{
  max-width: 100%;
  margin-top: 10px;
}

.title{
  font-size: 7rem;
  font-weight: 800;
}

.ms-jumbotron p{
  font-size: 2.5rem;
}


/* regole section portfolio  */
main section:first-child{
  margin: 5% 0%;
}

main h2{
  font-size: 6.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c3e50
}

#portfolio div img{
  max-width: 100%;
}

.plus-{
  max-width: 90%;
  border-radius: 10px;
  margin: 25px 0;
  position: relative;
}

.plus-:hover .overlay{
  display: block;
}

.overlay{
position: absolute;
top:0;
right: 0;
bottom: 0;
left:0;
background-color: rgba(26, 188, 156, 0.9);
display:none;
}

.overlay span{
  font-size: 10rem;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* regole debug about */
section:nth-child(even){
  background-color: #1abc9c;
}

section:nth-child(2) .contenuto{
  padding-top: 7%;
}

#about{
    color:#ffffff
}

#about h2{
  padding-top:3%;
  color: #ffff;
}

#about p{
  font-size: 2rem;
}

.link-about{
  margin: 7% 0 25% 0;
  font-size: 2rem;
  text-align: center;
}

.link-about a{
  padding: 3% 5%;
  border: 1px solid #ffff;
  border-radius: 10px;
  color:#ffff;
  text-decoration: none;
}

.link-about a img{
  width: 2.3rem;
  vertical-align: sub;
  margin-right: 5px;
}

/* regole debug contact me */
form{
  margin-top: 10%;
}
form input{
  width: 100%;
  min-height: 50px;
  border: none;
}
.send{
  margin-top: 10%;
  font-size: 2rem;
  font-weight: 600;
}

.send a{
  padding: 2% 3%;
  background-color: #1abc9c;
  color: #ffff;
  border-radius: 10px;
}

form div a{
  display: inline-block;
  margin-bottom: 10%;
}

/* regole debug footer */
footer{
  background-color:#2c3e50;
  padding-top: 5%;
  text-align: center;
  font-size: 2rem;
  color:#ffff;
}

footer li{
  float: left;
  width: 25%;
  font-size: 3rem;
}

footer li a{
  color:#ffff;
  border: 1px solid #ffff;
  border-radius: 50%;
  padding: 10%;
}

footer li:first-child a{
  padding: 10% 15%;
}

ul{
  text-align: center;
}

.style-a{
  color:#1abc9c;
}

.copyright{
  font-size: 1.5rem;
  background-color: #1a252f;
  text-align: center;
  margin-top: 5%;
  min-height: 50px;
  line-height: 50px;
}
