/* debug */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenuto{
  max-width: 1170px;
  margin: 0 auto;
  text-align: center
}

.debug{
  background-color: grey;
}

li{
  list-style: none;
}

/* regole header debug */
header{
  min-height: 100px;
}
.header{
  min-height: 100px;
}
header li a{
  display: block;
  min-height: 100px;
  background-color: grey;
}

.fix{
  background-color: blue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.jumbotron{
  min-height: 700px;
  background-color: lightgreen;
  padding-top: 100px;
}
.jumbo{
  min-height: 450px;
  margin-top: 20%;
}

/* regole debug section portfolio  */
main section:first-child{
  margin: 10% 0%;
}
.portfolio{
  min-height: 250px;
  margin: 5% 0%;
  border-radius: 10px;
}

/* regole debug about */
section:nth-child(even){
  background-color: lightgreen;
  min-height: 600px;
}

section:nth-child(2) .contenuto{
  padding-top: 7%;
}
.about{
  min-height: 250px;
}
.about-link{
  margin-top: 5%;
  min-height: 100px;
}

/* regole debug contact me */
form{
  margin-top: 10%;
}
form input{
  width: 100%;
  min-height: 50px;
  border: none;
}
.send{
  margin-top: 10%;
}
form div a{
  display: block;
  width: 100px;
  height: 50px;
  background-color: grey;
  margin-bottom: 10%;
}

/* regole debug footer */
footer{
  background-color: blue;
  padding-top: 5%;
}

.footer{
  min-height: 150px;
}

.copyright{
  background-color: darkgrey;
  text-align: center;
  margin-top: 5%;
  min-height: 50px;
  line-height: 50px;
}
